<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          
       
          function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Condition', 'Count'],
            ['Defected',{{ defected_count |tojson }}],
            ['No Defects', {{ non_defected_count |tojson }}],
        ]);
            options = {
                title: 'Total Fabric Rolls Summary',
                is3D: true,
                colors: ['#867eea', '#4a1ede']
            };
        
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    
            chart.draw(data,options);

            var data = google.visualization.arrayToDataTable([
            ['Effort', 'Amount given'],
            ['Defected', {{ defected_count_today | tojson }}],
            ['No Defects', {{ non_defected_count_today | tojson }}]
            ]);

            var options = {
            title: "Today's Summary",
            pieHole: 0.5,
            pieSliceTextStyle: {
                color: 'white',
            },
            colors: ['#867eea', '#4a1ede']
            };

            var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
            chart.draw(data, options);

            var data = google.visualization.arrayToDataTable([
          ['Defect Types', 'Occuring'],
          ['Oil Stains', {{ stain_count | tojson }}], ['Holes',{{ hole_count | tojson }}], ['Lines', {{ line_count | tojson }}],
          ['Knots', {{ knot_count | tojson }}]
        ]);
        var options = {
          title: 'Defects Summary',
          pieSliceTextStyle: {
                color: 'white',
            },
          slices: {  1: {offset: 0.1},
                    2: {offset: 0.1},
                    3: {offset: 0.1},
                    4: {offset: 0.1},
          },
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
        chart.draw(data, options);
        var data = google.visualization.arrayToDataTable([
        ["Element", "Defected", { role: "style" } ],
        ["Today",{{defected_count_today | tojson}}, "blue"],
        ["Yesterday", {{defected_count_yesterday | tojson}}, "brown"]
      ]);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Yesterday vs Today Defected Fabrics",
        width: 350,
        height: 300,
        bar: {groupWidth: "15%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
      var data = google.visualization.arrayToDataTable([
        ["Grade", "Total Count", { role: "style" } ],
        ["Grade A", 2, "Blue"],
        ["Grade B", 5, "Brown"],
        ["Grade C", 10, "Green"],
        ["Other", 20, "red"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Fabric Grades Summary",
        width: 500,
        height: 350,
        bar: {groupWidth: "45%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
    }
    
   
        </script>
      </head>
</head>
<body>

    <div class="navbar">
        <div class="Title">
            <img src="\static\Logo.png" alt="Logo" class="logo">
            <b><span>FABRICO</span></b>
        </div>
       
        <h2>{{ title }}</h2>
        <a href="{{ url_for('Fabrico.logout') }}" class="btn btn-primary">Logout</a>
    </div>

<div class="sidebar">
    <h6>Menu</h6>
    <div class="links">
        <ul>
            <li class="{% if title == 'Dashboard' %}active{% endif %}">
                <a href="/Fabrico/dashboard"> <i class='bx bxs-dashboard' ></i>
                Dashboard
                </a>
            </li>
            <li class="{% if title == 'Supervision' %}active{% endif %}">
                <a href="/Fabrico/supervision"> <i class='bx bxs-camera-home'></i>
                    Supervision
                </a>
            </li>
            <li class="{% if title == 'Records' %}active{% endif %}">
                <a href="/Fabrico/fabrics"> <i class='bx bxs-file-find' ></i>
                Records
                </a>
            </li>
            <hr>
            <li class="{% if title == 'My Account' %}active{% endif %}">
                <a> <i class='bx bxs-user'></i>
                    {{userid}}
                </a>
            </li>
            {% if userid == 'Emp01' %}
            <hr>
            <li class="{% if title == 'Admin Portal' %}active{% endif %}">
                <a href="/Fabrico/adminPortal"> <i class='bx bxs-user'></i>
                    Admin Portal
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
    <div class="content">
        <div class="container-dashboard">
            <div class="row">
                <div class="col">
                    <div id="piechart" style="width: 450px; height: 300px;"></div>
                </div>
                <div class="col">
                    <div id="donut_single" style="width: 450px; height: 300px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="piechart2" style="width: 450px; height: 350px;"></div>
                </div>
                <div class="col">
                    <div id="columnchart_values"  style="width: 100px; height: 100px;;"></div>
                </div>
                <div class="col">
                    <div id="barchart_values" style="width: 100px; height: 100px"></div>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>