{% extends 'base.html' %}
{% block content %}
    <div class="content2">
        <div class="container mt-5">
            <form action="{{ url_for('Fabrico.editUser', userid=user.id) }}" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                </div>
                <div class="form-group">
                    <label for="userid">UserID:</label>
                    <input type="text" class="form-control" id="userid" name="userid" value="{{ user.userid }}" required disabled>
                </div>
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
{% endblock %}
